<footer class="mdl-mega-footer">
  <div class="mdl-mega-footer__top-section">
    <div class="mdl-mega-footer__left-section">
      <h4>Thanks To Our Sponsors:</h4>
    </div>
  </div>
  <div class="mdl-mega-footer__middle-section">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--6-col centered">
        <a href="http://judgememorial.com">
          <img
            class="desaturate large_sponsor"
            src="/images/sponsors/judge_memorial.svg"
            height="200px"
            width="auto"
            alt="Judge Memorial"/>
        </a>
      </div>
      <div class="mdl-cell mdl-cell--6-col centered">
        <a href="http://schools.graniteschools.org/gti/">
          <img
            class="desaturate large_sponsor"
            src="/images/sponsors/gti.png"
            alt="Granite Technical Institute"/>
        </a>
      </div>
      <div class="mdl-cell mdl-cell--4-col centered">
        <a href="http://www.control4.com/">
          <img class="desaturate sponsor medium_sponsor" src="/images/sponsors/Control4.jpg" alt="Control4"/>
        </a>
      </div>
      <div class="mdl-cell mdl-cell--4-col centered">
        <a href="http://www.3m.com/3M/en_US/company-us/">
          <img class="desaturate medium_sponsor" src="/images/sponsors/3M.svg" alt="3M"/>
        </a>
      </div>
      <div class="mdl-cell mdl-cell--4-col centered">
        <a href="http://cabinetrybykarman.com/">
          <img class="desaturate medium_sponsor" src="/images/sponsors/karman.png" alt="Karman"/>
        </a>
      </div>
      <div class="mdl-cell mdl-cell--3-col centered">
        <a href="http://www.target.com/">
          <img class="desaturate small_sponsor" src="/images/sponsors/target.jpg" alt="Target"/>
        </a>
      </div>
      <div class="mdl-cell mdl-cell--3-col centered">
        <a href="http://www.ancestry.com/">
          <img class="desaturate small_sponsor" src="/images/sponsors/Ancestry_com.png" alt=Ancestry.com/>
        </a>
      </div>
      <div class="mdl-cell mdl-cell--3-col centered">
        <a href="http://www.imflash.com/">
          <img class="desaturate small_sponsor" src="/images/sponsors/im_flash.jpg" alt="IM Flash Technologies"/>
        </a>
      </div>
      <div class="mdl-cell mdl-cell--3-col centered">
        <a href="http://www.cve.com/">
          <img class="desaturate small_sponsor" src="/images/sponsors/CVE.jpg" alt="Cache Valley Electric"/>
        </a>
      </div>
      <div class="mdl-cell mdl-cell--3-col centered">
        <a href="http://www.wasatchsteel.com/">
          <img class="desaturate small_sponsor" src="/images/sponsors/wasatch_steel.png" alt="Wasatch Steel"/>
        </a>
      </div>
      <div class="mdl-cell mdl-cell--3-col centered">
        <a href="https://xmission.com/">
          <img class="desaturate small_sponsor" src="/images/sponsors/XMission.jpg" alt="XMission"/>
        </a>
      </div>
      <div class="mdl-cell mdl-cell--3-col centered">
        <a href="http://www.cisco.com/c/en/us/index.html">
          <img class="desaturate small_sponsor" src="/images/sponsors/cisco.jpg" alt="Cisco Systems"/>
        </a>
      </div>
      <div class="mdl-cell mdl-cell--3-col centered">
        <a href="http://www.homedepot.com/">
          <img class="desaturate small_sponsor" src="/images/sponsors/home_depot.gif" alt="The Home Depot"/>
        </a>
      </div>
    </div>
  </div>
</footer>
