<header class="mdl-layout__header mdl-layout__header--waterfall portfolio-header">
    <div class="mdl-layout__header-row portfolio-logo-row">
        <span class="mdl-layout__title">
            <div class="portfolio-logo" alt="Judge Memorial"></div>
            <span class="mdl-layout__title">JudgeMent Call Robotics - Team 5933</span>
        </span>
    </div>
    <div class="mdl-layout__header-row portfolio-navigation-row mdl-layout--large-screen-only">
        {% include nav_links.html %}
    </div>
</header>
